#stat-display {
	border:1px solid white;
	height:50vh;
	margin-top:1%;
	padding:0;
	#stat-title {
		font-size:2em;
	}

	#type-wrapper {
		#type-header{
			font-size:1.5em;
			border-bottom:3px solid #333;
		}
		.types {
			font-size:1.2em;
			color:#eee;
		}
	}
}