/* 
	Phones
 */
@media screen and (min-width: 320px) {
  #dex-entry {
    color: white;
    padding: 0;
    margin-bottom: 2%; }
  #dex-entry #language-selection-wrapper {
    font-size: 1.1em;
    padding: 0; }
  #dex-entry #language-selection-wrapper .langs:hover {
    text-decoration: underline;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper #generation-title {
    font-size: 1.5em;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations {
    font-size: 1.2em;
    text-align: center;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations:hover {
    background: black;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper {
    margin-top: 1%;
    padding: 1%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries {
    padding: 1%;
    margin-top: 21%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex {
    background: #444;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex .dex-entries-text {
    border-bottom: 3px solid #333; } }

/* 
	Forgot which phone display this one was for
 */
@media screen and (min-width: 375px) {
  #dex-entry {
    color: white;
    padding: 0;
    margin-bottom: 2%; }
  #dex-entry #language-selection-wrapper {
    font-size: 1.1em;
    padding: 0; }
  #dex-entry #language-selection-wrapper .langs:hover {
    text-decoration: underline;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper #generation-title {
    font-size: 1.5em;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations {
    font-size: 1.2em;
    text-align: center;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations:hover {
    background: black;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper {
    margin-top: 1%;
    padding: 1%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries {
    padding: 1%;
    margin-top: 21%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex {
    background: #444;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex .dex-entries-text {
    border-bottom: 3px solid #333; } }

/* 
	Tablets 
 */
@media screen and (min-width: 768px) {
  #dex-entry {
    color: white;
    padding: 0;
    margin-bottom: 2%; }
  #dex-entry #language-selection-wrapper {
    font-size: 1.1em;
    padding: 0; }
  #dex-entry #language-selection-wrapper .langs:hover {
    text-decoration: underline;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper #generation-title {
    font-size: 1.5em;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations {
    font-size: 1.2em;
    text-align: center;
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations:hover {
    background: black;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper {
    margin-top: 1%;
    padding: 1%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries {
    padding: 1%;
    margin-top: 5%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex {
    background: #444;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex .dex-entries-text {
    border-bottom: 3px solid #333; } }

/* 
	MDPI laptop displays
 */
/* @media screen and (min-width:320px){
#dex-entry {
	color:white;

	#language-selection-wrapper {
		font-size:1.1em;

		.langs {

			&:hover{
				text-decoration: underline;
				cursor:pointer;
				
			}
		}
	}

	#dex-info-entry-wrapper {
		height:50vh;
		
		
		#generation-wrapper{
			
			padding:0;

			#generation-title {
				font-size:1.5em;
			}

			.generations {
				font-size:1.2em;
				
				

				&:hover {
					background:black;
					cursor:pointer;
				}
			}

		}

		#generation-content-wrapper {
			
			margin-top:1%;
			padding:1%;
			.dex-entries {
				
				
			
				padding:1%;
				margin-top:2%;
				#innerdex {
					background:#444;
					height:118%;
					font-size:1em;
					padding:0;
					border-bottom:3px solid #333;
					border-right:3px solid #333;


					.dex-entries-text {
						border-bottom:3px solid #333;
					}

				}
				
			}
		}


	}
}





}
 */
/* 
	Most Mac displays
 */
/* 
	Large displays
 */
@media screen and (min-width: 1920px) {
  #dex-entry {
    color: white; }
  #dex-entry #language-selection-wrapper {
    font-size: 1.1em; }
  #dex-entry #language-selection-wrapper .langs:hover {
    text-decoration: underline;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper {
    height: 50vh; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper {
    padding: 0; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper #generation-title {
    font-size: 1.5em; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations {
    font-size: 1.2em; }
  #dex-entry #dex-info-entry-wrapper #generation-wrapper .generations:hover {
    background: black;
    cursor: pointer; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper {
    margin-top: 1%;
    padding: 1%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries {
    height: 12.5vh;
    padding: 1%;
    margin-top: 2%; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex {
    background: #444;
    height: 118%;
    font-size: 1em;
    padding: 0;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333; }
  #dex-entry #dex-info-entry-wrapper #generation-content-wrapper .dex-entries #innerdex .dex-entries-text {
    border-bottom: 3px solid #333; } }
