@font-face {

	font-family:"Arcade";
	src:url('../../assets/fonts/ARCADECLASSIC.TTF') format('truetype');
}



.poke-facts {
	font-family:'Arcade';	
	height:100%;

	.pokemon-fact-display {

		border:1px solid white;
		height:100%;
		border-radius:5px;
		background:rgba(102,122,127,0.8);

	}

	#pokemon-display-left {

		#pokemon-image {
			border:1px solid black;
			height:50%;
		}

		#pokemon-name {
			border-bottom:3px solid black;
			#poke-name {
				font-size:2.5em;
				text-align:left;

			}
			#poke-id {
				font-size:3em;
				text-align:right;
			}
		}

	}

	#pokemon-display-right {
		float:right;
	}
}