@font-face {

	font-family:"Arcade";
	src:url('../../assets/fonts/ARCADECLASSIC.TTF') format('truetype');
}

* {
	font-family:'Arcade';
}

.poke-facts {
		
	height:100%;

	.pokemon-fact-display {

		
		height:100%;
		border-radius:15px;
		background:rgba(102,122,127,0.8);


		-webkit-box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
-moz-box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
		

	}

	#pokemon-display-left {

		#pokemon-image-wrapper{
			height:50%;
			padding:1%;
			#pokemon-image {
			
			height:80%;
			}
		}

		#pokemon-name {
			border-bottom:3px solid #333;
			#poke-name {
				font-size:4em;
				text-align:left;

			}
			#poke-id {
				font-size:3em;
				text-align:right;
			}
		}

	}

	#pokemon-display-right {
		float:right;
	}
}


#loading-screen {
	border-radius:10px;
	height:50%;
	background:rgba(102,122,127,0.8);

	position:relative;
	top:20%;
	left:30%;

	-webkit-box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
	-moz-box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
	box-shadow: 22px 26px 37px -1px rgba(0,0,0,0.63);
		

		#loading-text {

			font-size:5em;
			position:relative;
			top:30%;
			left:28%;
		}

}