#pokesprites {

	color:white;
	background:rgba(65,133,166,0.9);
	

}

/* 
	Phones
 */
@media screen and (min-width:320px){

#pokesprites {
	margin-bottom:2%;
	#poke-wrapper {

			.sprite-classes{
					border-bottom:3px solid #333;
					padding:0;
					.sprite-names {




					}

					.actual-sprites {



					}


			}


	}



 }
 //End of pokesprites here
}

/* 
	Forgot which phone display this one was for
 */
 @media screen and (min-width:375px){





}

/* 
	Tablets 
 */


@media screen and (min-width:768px){





}

/* 
	MDPI laptop displays
 */
@media screen and (min-width:320px){





}

/* 
	Most Mac displays
 */

 @media screen and (min-width:1440px){





}

/* 
	Large displays
 */

@media screen and (min-width:1920px){





}
