#pokesprites {
  color: white;
  background: rgba(65, 133, 166, 0.9);
  height: 50vh; }

/* 
	Phones
 */
/* 
	Forgot which phone display this one was for
 */
/* 
	Tablets 
 */
/* 
	MDPI laptop displays
 */
/* 
	Most Mac displays
 */
/* 
	Large displays
 */
