#pokesprites {

	color:white;
	background:rgba(65,133,166,0.9);
	height:50vh;

}

/* 
	Phones
 */
@media screen and (min-width:320px){





}

/* 
	Forgot which phone display this one was for
 */
 @media screen and (min-width:375px){





}

/* 
	Tablets 
 */


@media screen and (min-width:768px){





}

/* 
	MDPI laptop displays
 */
@media screen and (min-width:320px){





}

/* 
	Most Mac displays
 */

 @media screen and (min-width:1440px){





}

/* 
	Large displays
 */

@media screen and (min-width:1920px){





}
